.block {
border: 1px solid #f5f4fa;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(192, 197, 197);
    display: flex;
    justify-content: space-around;
}


/* .item {
    display: flex;
    flex-direction: column;s
}

.label {
    font-weight: 400;
    font-size: 18px;
}

.quantity {
    font-weight: 700;
    font-size: 20px;
} */