.block {
    border: 1px solid #f5f4fa;
    margin-right: auto;
    margin-left: auto;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
}
.item {
display: flex;
flex-direction: column;

}
